@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

section {
  background-color: rgb(245, 245, 245);
}

#landing {
  min-height: 100vh;
  position: relative;
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.yellow {
  color: #c1e32b;
  font-weight: bold;
}

/*

    NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;

}

.nav__hover-effect {
  position: relative;
}

.nav__hover-effect--black {

}

.fa-circle-half-stroke {
  font-size: 20px;
}

/*

LANDING PAGE

*/

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}

.social__list {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1e32b;
  color: black;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  border-radius: 50%;
}

.click {
  transition: all 0.3s ease;
}

.click:hover {
  transform: scale(1.2);
}

.click:active {
  transform: scale(0.8);
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 32px;
  right: 40px;
}
