@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  background-color: rgb(245, 245, 245);
}

/*

LANDING PAGE

*/

#landing {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*

    NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;

}

.nav__hover-effect {
  position: relative;
}

.nav__hover-effect--black {

}

.fa-circle-half-stroke {
  font-size: 20px;
}

