@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

section {
  background-color: rgb(245, 245, 245);
}

#landing {
  min-height: 100vh;
  position: relative;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.yellow {
  color: #c1e32b;
  font-weight: bold;
}

/*

    NAVIGATION

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect--black {
  background-colo: #242424;
}

.link__hover-effect--white {
  background-colo: #fff;
}

.fa-circle-half-stroke {
  font-size: 20px;
}

/*

LANDING PAGE

*/

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}

.social__list {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c1e32b;
  color: black;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  border-radius: 50%;
}

.click {
  transition: all 0.3s ease;
}

.click:hover {
  transform: scale(1.2);
}

.click:active {
  transform: scale(0.8);
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 32px;
  right: 40px;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: bounce 1000ms infinite alternate-reverse;
}

@keyframes bounce {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(-4px);
  }
}

/*

PROJECT SECTION

*/

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project {
  margin-bottom: 135px;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project__wrapper:hover .project__wrapper--bg{
  opacity: 0.7;
}

.project__img {
  width: 100%;
  transition: all 600ms ease;
}

.project__wrapper:hover .project__img {
  transform: scale(1.06);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

/*

 FOOTER

*/

footer {
  background-color: #242424;
  display: flex;
  padding: 5% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;

}

.footer__social--link,
.footer__copyright {
  color: white;
}